.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.navBar {
  padding-top: 100px;
  width: 700px;
}

.appBar {
  position: fixed;
}

.style__circular___2yZZn {
  padding-top: 40px !important;
}
